@tailwind base;
@tailwind components;
@tailwind utilities;

@custom-variant dark (&:where(.dark, .dark *));

:root {
  --white-bg: #ffffff;
  --black-fg: #171717;
  --black-bg: #0a0a0a;
  --white-fg: #ededed;
}

/*
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  /* color: var(--foreground); */
  /* background: var(--background); */
  font-family: var(--font-geist-sans);
}

.wrapper {
  @apply max-w-7xl mx-auto px-5 sm:px-10 md:px-14;
}
